<!DOCTYPE html>
<html>
<head>
  <title>HAML</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="content" style="width:1080px; margin:0 auto;">
    <%= yield %>
  </div>
</body>
</html>